@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="jumbotron">
    <div class="row" style="background-color:black">
        <img src="https://clicklive.rhipe.com/rs/325-ALW-394/images/RHIPE-techKnights_HERO-Overlay-2.png" />
    </div>

    <!--Comment !-->

    <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>


</div>
